<%- include("includes/head.ejs"); %>
<body>
  <center><h1>Dice gave Value : <%= diceVal %></h1></center>
  <% if(diceVal == 6) { %>
    <center><h2>Nice! Roll Dice Again</h2></center>
  <% } %>
</body>
</html>