<%- include("includes/head.ejs"); %>
  <h1>Here is your post in detail</h1>
  <button id="add" class="user btn"><a href="http://localhost:3000/posts">Home</a></button>
  <p>Post id: <%= post.id %></p>
  <div class="post box">
    <h3><%= post.username %></h3>
    <h3><%= post.content %></h3>
  </div>
</body>
</html>